<a href="https://colab.research.google.com/github/Aninha-create/Aninha-create/blob/main/treinando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sobre o notebook

A "hora da prática" é uma atividade do curso de Python para Data Science da Alura que contém diversos desafios envolvendo os aprendizados de cada aula.

O notebook "hora da prática" é um notebook construído com espaço para as células dos desafios propostos no curso, com ele você tem espaço para construir e executar suas soluções

## Aula 1 - Bibliotecas

### Aquecimento

#### Questão 1

Escreva um código para instalar a versão `3.7.1` da biblioteca `matplotlib`

In [ ]:
!pip install matplotlib==3.10.0

Requirement already satisfied: matplotlib==3.10.0 in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.0) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.0) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.0) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.0) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.0) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.0) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.0) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.0) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib==3.10.0) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib==3.10.0) (1.17.0)

#### Questão 2

Escreva um código para importar a biblioteca `numpy` com o alias `np`

In [ ]:
import numpy as np

#### Questão 3
Crie um programa que lê a seguinte lista de números e escolha um número desta aleatoriamente.
```
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]
```

In [ ]:
from random import choice
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]
choice(lista)

1

#### Questão 4

Crie um programa que sorteia aleatoriamente um número inteiro menor que 100.
> Dica: use a função [`randrange()`](https://docs.python.org/3/library/random.html#random.randrange) da biblioteca `random`. Essa função recebe como parâmetro o valor limite para a escolha aleatória ou um intervalo se passado o limite mínimo e máximo. Por exemplo, `randrange(5)` gera valores inteiros menores que 5.

In [ ]:
from random import randrange
randrange(100)

49

#### Questão 5
Crie um programa que solicite à pessoa usuária digitar dois números inteiros e calcular a potência do 1º número elevado ao 2º.
> Dica: use a função [`pow()`](https://docs.python.org/3/library/random.html#random.randrange) da biblioteca `math`

In [ ]:
from math import pow
num1 = int(input('Digite o primeiro número inteiro: '))
num2 = int (input ('Digite o segundo número inteiro: '))
pow(num1,num2)

Digite o primeiro número inteiro: 7
Digite o segundo número inteiro: 8

5764801.0

### Aplicando a projetos

#### Questão 6
Um programa deve ser escrito para sortear uma pessoa seguidora de uma rede social para ganhar um prêmio. A lista de participantes é numerada e devemos escolher aleatoriamente um número de acordo com a quantidade de participantes.

Peça à pessoa usuária para fornecer o número de participantes do sorteio e devolva para ela o número sorteado.

In [ ]:
from random import randint
participantes = int (input('Digite a quantidade de participantes: '))
sorteio = randint(1,participantes)
print(f'O número sorteado foi {sorteio}')

Digite a quantidade de participantes: 76
O número sorteado foi 69

In [ ]:
from random import randint
alunos = int (input('Digite a quantidade de alunos: '))
sorteio = randint(1,alunos)
print (f'O número sorteado foi {sorteio}')

Digite a quantidade de alunos: 78
O número sorteado foi 47

#### Questão 7

Você recebeu uma demanda para gerar números de token para o acesso ao aplicativo de uma empresa. O token precisa ser par e variar de 1000 até 9998. Escreva um código que solicita à pessoa usuária o seu nome e gera uma mensagem junto a esse token gerado aleatoriamente:

`"Olá, [nome], o seu token de acesso é [token]! Seja bem-vindo(a)!"`

In [ ]:
from random import randrange
nome = str (input('Digite o seu nome: '))
token = randrange(1000, 10000, 2)
print(f'Olá, {nome}, o seu token de acesso é {token}! Seja bem-vindo(a)!')

Digite o seu nome: Ana
Olá, Ana, o seu token de acesso é 5934! Seja bem-vindo(a)!

#### Questão 8
Para diversificar e atrair novos clientes, uma lanchonete criou um item misterioso em seu cardápio chamado "salada de frutas surpresa". Neste item, são escolhidas aleatoriamente 3 frutas de uma lista de 12 frutas para compor a salada de frutas da pessoa cliente.

Crie o código que faça essa seleção aleatória de acordo com a lista abaixo:

```
frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]
```

In [ ]:
from random import sample
frutas = ["maça", "banana", "uva", "pêra", "manga", "coco", "melancia", "mamão", "laranja", "abacaxi", "kiwi", "ameixa"]
surpresa = sample(frutas, 3)
print(surpresa)

['mamão', 'manga', 'melancia']

#### Questão 9
Você recebeu um desafio de calcular a raiz quadrada de uma lista de números, identificando quais resultaram em um número inteiro. A lista é a seguinte:
```
numeros = [2, 8, 15, 23, 91, 112, 256]
```

Informe no final quais números possuem raízes inteiras e seus respectivos valores.

> Dica: use a comparação entre a divisão inteira da raiz por 1 com o valor da raiz para verificar se o número é inteiro. Por exemplo:
```
num = 1.5
num_2 = 2
print(f'{num} é inteiro? :', num // 1 == num)
print(f'{num_2} é inteiro? :', num_2 // 1 == num_2)
```
Saída:
```
1.5 é inteiro? : False
2 é inteiro? : True
```

In [ ]:
from math import sqrt
numeros = [2, 8, 15, 23, 91, 112, 256]
for num in numeros:
  raiz = sqrt(num)
  print(f'{num} é inteiro? :', raiz // 1 == raiz)

2 é inteiro? : False
8 é inteiro? : False
15 é inteiro? : False
23 é inteiro? : False
91 é inteiro? : False
112 é inteiro? : False
256 é inteiro? : True

#### Questão 10
Faça um programa para uma loja que vende grama para jardins. Essa loja trabalha com jardins circulares e o preço do metro quadrado da grama é de R$ 25,00. Peça à pessoa usuária o raio da área circular e devolva o valor em reais do quanto precisará pagar.  

> Dica: use a variável [`pi`](https://docs.python.org/pt-br/3/library/math.html#math.pi) e o método [`pow()`](https://docs.python.org/3/library/random.html#random.randrange) da biblioteca `math`. O cálculo de área de um círculo é de: $Area = \pi \times r^2$

In [ ]:
from math import pi, pow
raio = float (input('Digite o raio da área circular:'))
area = pi * pow(raio,2)
valor = area * 25
print(f'O valor a ser pago é de R${valor:.2f}')

Digite o raio da área circular:2
O valor a ser pago é de R$314.16

In [ ]:
# importando 2 métodos da mesma biblioteca
from math import pi, pow

raio = float(input("Digite o raio da área circular em metros: "))
# Cálculo da área com os métodos da math e obtenção do custo em reais
area = pi*pow(raio,2)
valor = area * 25.00

# Exibição do cálculo e custo na tela. O round(n,2) arredonda qualquer número em 2 casas decimais
print(f"Você precisará pagar R$ {round(valor,2)} por uma área de {round(area,2)} metros de grama")

Digite o raio da área circular em metros: 2
Você precisará pagar R$ 314.16 por uma área de 12.57 metros de grama

## Aula 2 - Funções

### Aquecimento

#### Questão 1

Escreva um código que lê a lista abaixo e faça:

```
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
```

- A leitura do tamanho da lista
- A leitura do maior e menor valor
- A soma dos valores da lista

Ao final exiba uma mensagem dizendo:

```
"A lista possui [tam] números em que o maior número é [maior] e o menor número é [menor]. A soma dos valores pares presentes nela é igual a [soma]"
```

> Dica: use as funções embutidas presentes na [documentação do Python](https://docs.python.org/3/library/functions.html)

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
tam = len(lista)
maior = max(lista)
menor = min(lista)
soma = sum(lista)
print(f'A lista possui {tam} números em que o maior número é {maior} e o menor número é {menor}. A soma dos valores presentes nela é igual a {soma}')

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores presentes nela é igual a 743

#### Questão 2

Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 7, a tabuada deve ser mostrada no seguinte formato:
```
Tabuada do 7:
7 x 0 = 0
7 x 1 = 7
[...]
7 x 10 = 70
```

In [ ]:
tabuada = int(input('Escolha um número entre 1 e 10: '))
print(f'Tabuada do {tabuada}')
for i in range (1,11):
  print(f'{tabuada}*{i}={tabuada * i}')

Escolha um número entre 1 e 10: 8
Tabuada do 8
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80

In [ ]:
tabuada = int(input('Digite um numero entre 2 e 20: '))
print (f'Tabuada do {tabuada}!')
for i in range (1,11):
  print(f'{tabuada}*{i}={tabuada*i}')

Digite um numero entre 2 e 20: 17
Tabuada do 17!
17*1=17
17*2=34
17*3=51
17*4=68
17*5=85
17*6=102
17*7=119
17*8=136
17*9=153
17*10=170

#### Questão 3
Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:

```
[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
```

Utilize o `return` na função e salve a nova lista na variável `mult_3`.

In [ ]:
# Lista gerada
lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

# declarando a lista de multiplos de 3
mult_3 = []
# função para gerar uma lista dos múltiplos de 3 a partir de uma lista
def multiplo_3(lista: list) -> list:
  for i in range(len(lista)):
    # condição para um número ser múltiplo de 3
    if lista[i] % 3 == 0:
      mult_3.append(lista[i])
  return mult_3

# retornando a lista gerada para a variável mult_3
mult_3 = multiplo_3(lista)
mult_3

[24, 99]

#### Questão 4
Crie uma lista dos quadrados dos números da seguinte lista `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.

Lembre-se de utilizar as funções lambda e `map()` para calcular o quadrado de cada elemento da lista.

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
quadrado = map(lambda x: x**2, lista)
lista = list(quadrado)
print(lista)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Lista dos números
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Função lambda que eleva um número ao quadrado
quadrado = lambda x: x ** 2

# Utilizando a função map() para aplicar a função lambda em cada número da lista
resultado = list(map(quadrado, numeros))
resultado

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Aplicando a projetos

#### Questão 5

Você foi contratado(a) como cientista de dados de uma associação de skate. Para analisar as notas recebidas dos(as) skatistas em algumas competições ao longo do ano, você precisa criar um código que calcula a pontuação dos(as) atletas. Para isso, o seu código deve receber 5 notas digitadas pelas pessoas juradas.

Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e a menor pontuação dentre as 5 notas e tirar a média das 3 notas que sobraram.

Retorne a média para apresentar o texto:
`"Nota da manobra: [media]"`

In [ ]:
notas = []
for i in range(5):
  nota = float(input(f'Digite a nota {i+1}: '))
  notas.append(nota)
notas.remove(max(notas))
notas.remove(min(notas))
media = sum(notas)/3
print(f'Nota da manobra: {media}')

Digite a nota 1: 8.8
Digite a nota 2: 8.5
Digite a nota 3: 9.0
Digite a nota 4: 7.8
Digite a nota 5: 9.1
Nota da manobra: 8.766666666666667

In [ ]:
# declarando a lista de notas
notas = []
# laço for para pedir as 5 notas e armazená-las na lista notas
for i in range(1,6):
  nota = float(input(f"Digite a {i}ª nota: "))
  notas.append(nota)

# Função para remover a maior e menor nota e retornar a média das notas restantes
def media(lista):
  lista.remove(max(lista))
  lista.remove(min(lista))
  return sum(lista) / len(lista)

# Chamando a função e imprimindo a nota da(o) skatista
media = media(notas)
print(f"Nota da manobra: {round(media, 1)}")

Digite a 1ª nota: 8
Digite a 2ª nota: 9
Digite a 3ª nota: 8
Digite a 4ª nota: 9
Digite a 5ª nota: 7
Nota da manobra: 8.3

#### Questão 6

Para atender a uma demanda de uma instituição de ensino para a análise do desempenho de seus(suas) estudantes, você precisa criar uma função que receba uma lista de 4 notas e retorne:
- maior nota
- menor nota
- média
- situação (Aprovado(a) ou Reprovado(a))

Para testar o comportamento da função, os dados podem ser exibidos em um texto:
```
"O(a) estudante obteve uma media de [media], com a sua maior nota de [maior] pontos e a menor nota de [menor] pontos e foi [situacao]"
```

In [ ]:
lista =[]
for i in range(4):
  nota = float(input('Digite a nota: '))
  lista.append(nota)
  maior = max(lista)
  menor = min(lista)
  media = sum(lista)/4
  if media >= 6:
    situacao = 'Aprovado(a)'
  else:
    situacao = 'Reprovado(a)'
print(f"O(a) estudante obteve uma media de {media}, com a sua maior nota de {maior} pontos e a menor nota de {menor} pontos e foi {situacao}.")

Digite a nota: 9
Digite a nota: 8
Digite a nota: 7.5
Digite a nota: 8
O(a) estudante obteve uma media de 8.125, com a sua maior nota de 9.0 pontos e a menor nota de 7.5 pontos e foi Aprovado(a).

In [ ]:
# declarando a lista de notas
notas = []
# laço for para pedir as 4 notas e armazená-las na lista notas
for i in range(1,5):
  nota = float(input(f"Digite a {i}ª nota: "))
  notas.append(nota)

def cadastro(lista):
  maior = max(lista)
  menor = min(lista)
  media = sum(lista) / len(lista)
  if media >= 6:
    situacao = "Aprovado(a)"
  else:
    situacao = "Reprovado(a)"

  return (media, maior, menor, situacao)

media, maior, menor, situacao = cadastro(notas)

print(f"O(a) estudante obteve uma media de {media}, com a sua maior nota de {maior} pontos e a menor nota de {menor} pontos e foi {situacao}")

Digite a 1ª nota: 6.5
Digite a 2ª nota: 7.0
Digite a 3ª nota: 6.8
Digite a 4ª nota: 7.5
O(a) estudante obteve uma media de 6.95, com a sua maior nota de 7.5 pontos e a menor nota de 6.5 pontos e foi Aprovado(a)

#### Questão 7

Você recebeu uma demanda para tratar 2 listas com os nomes e sobrenomes de cada estudante concatenando-as para apresentar seus nomes completos na forma `Nome Sobrenome`.

As listas são:
```
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]
```

O texto exibido ao fim deve ser parecido com:
```
"Nome completo: Ana Silva"
```

> Dica: Utilize a função map para mapear os nomes e sobrenomes e as funções de string para tratar o texto.

In [ ]:
# Nomes dos estudantes
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

# Função lambda que recebe duas listas e itera em cada uma concatenando seu nome e sobrenome
# na forma desejada
nome_completo = map(lambda nome, sobrenome: f'{nome.title()} {sobrenome.title()}', nomes, sobrenomes)

# Leitura do objeto mapa(iterável)
for n in nome_completo:
  print(f'Nome completo: {n}')

Nome completo: João Silva
Nome completo: Maria Souza
Nome completo: José Tavares

#### Questão 8
Como cientista de dados em um time de futebol, você precisa implementar novas formas de coleta de dados sobre o desempenho de jogadores e do time como um todo.

Sua primeira ação é criar uma forma de calcular a pontuação do time no campeonato nacional a partir dos dados de gols marcados e sofridos em cada jogo.

Escreva uma função chamada `calcula_pontos` que recebe como parâmetros duas listas de números inteiros, representando os gols marcados e sofridos pelo time em cada partida do campeonato.

A função deve retornar a pontuação do time e o aproveitamento em percentual, levando em consideração que a vitória vale 3 pontos, o empate vale 1 ponto e a derrota 0 pontos.

> Observação: Se a quantidade de gols marcados numa partida for maior que a de sofridos, o time venceu. Caso seja igual, o time empatou e se for menor, o time perdeu. Para calcular o aproveitamento devemos fazer a razão entre a pontuação do time pela pontuação máxima que ele poderia receber.

Para teste, utilize as seguintes listas de gols marcados e sofridos
```
gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]
```

Provável texto exibido:
```
"A pontuação do time foi de [pontos] e seu aproveitamento foi de [aprov]%"
```

In [ ]:
gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

def calcula_pontos(gols_marcados, gols_sofridos):
  pontos = 0
  for i in range(len(gols_marcados)):
    if gols_marcados[i] > gols_sofridos[i]:
      pontos += 3
    elif gols_marcados[i] == gols_sofridos[i]:
      pontos += 1
  aprov = 100 * pontos / (len(gols_marcados) * 3)
  return (pontos, aprov)

pontos, aprov = calcula_pontos(gols_marcados, gols_sofridos)
print(f"A pontuação do time foi de {pontos} e seu aproveitamento foi de {round(aprov)}%")

A pontuação do time foi de 7 e seu aproveitamento foi de 47%

#### Questão 9

Você recebeu o desafio de criar um código que calcula os gastos de uma viagem para um das quatro cidades partindo de Recife: Salvador, Fortaleza, Natal e Aracaju.

O custo da diária do hotel é de 150 reais em todas elas e o consumo de gasolina na viagem de carro é de 14 km/l, sendo que o valor da gasolina é de 5 reais o litro. O gastos com passeios e alimentação a se fazer em cada uma delas por dia seria de `[200, 400, 250, 300]`, respectivamente.

Sabendo que as distâncias entre Recife e cada uma das cidades é de aproximadamente `[850, 800, 300, 550]` km, crie três funções nas quais a 1ª calcule os gastos com hotel (`gasto_hotel`), a 2ª calcule os gastos com a gasolina (`gasto_gasolina`) e a 3ª os gastos com passeio e alimentação (`gasto_passeio`).

Para testar, simule uma viagem de 3 dias para Salvador partindo de Recife. Considere a viagem de ida e volta de carro.
```
"Com base nos gastos definidos, uma viagem de [dias] dias para [cidade] saindo de Recife custaria [gastos] reais"
```

In [ ]:
dias = int(input("Quantas diárias? "))
cidade = input("Qual a cidade? [Salvador, Fortaleza, Natal ou Aracaju]: ")
distancias = [850, 800, 300, 550]
passeio = [200, 400, 250, 300]
km_l = 14
gasolina = 5

def gasto_hotel(dias):
    return 150 * dias

def gasto_gasolina(cidade):
    if cidade == "Salvador":
        return (2 * distancias[0] * gasolina) / km_l
    elif cidade == "Fortaleza":
        return (2 * distancias[1] * gasolina) / km_l
    elif cidade == "Natal":
        return (2 * distancias[2] * gasolina) / km_l
    elif cidade == "Aracaju":
        return (2 * distancias[3] * gasolina) / km_l

def gasto_passeio(cidade, dias):
    if cidade=="Salvador":
        return passeio[0] * dias
    elif cidade=="Fortaleza":
        return passeio[1] * dias
    elif cidade=="Natal":
        return passeio[2] * dias
    elif cidade=="Aracaju":
        return passeio[3] * dias

gasto = gasto_hotel(dias) + gasto_gasolina(cidade) + gasto_passeio(cidade, dias)
print(f"Com base nos gastos definidos, uma viagem de {dias} dias para {cidade} saindo de Recife custaria {round(gasto)} reais")

Quantas diárias? 3
Qual a cidade? [Salvador, Fortaleza, Natal ou Aracaju]: Fortaleza
Com base nos gastos definidos, uma viagem de 3 dias para Fortaleza saindo de Recife custaria 2221 reais

#### Questão 10

Você iniciou um estágio em uma empresa que trabalha com processamento de linguagem natural ([NLP](https://www.alura.com.br/artigos/guia-nlp-conceitos-tecnicas)). Sua líder requisitou que você criasse um trecho de código que recebe uma frase digitada pela pessoa usuária e filtre apenas as palavras com tamanho maior ou igual a 5, exibindo-as em uma lista. Essa demanda é voltada para a análise do padrão de comportamento de pessoas na escrita de palavras acima dessa quantidade de caracteres.

> Dica: utilize as funções lambda e [`filter()`](https://docs.python.org/pt-br/3/library/functions.html?highlight=filter#filter) para filtrar essas palavras. Lembrando que a função embutida `filter()` recebe uma função (no nosso exemplo uma função lambda) e filtra um iterável de acordo com a função. Para tratar a frase use `replace()` para trocar a ',' '.', '!' e '?' por espaço.

Use a frase `"Aprender Python aqui na Alura é muito bom"`para testar o código

In [ ]:
# Requisitando uma frase e separando-a pelos espaços. Usando replace para trocar
# pontuações por espaço.
frase = input("Digite uma frase: ")
frase = frase.replace(',',' ').replace('.',' ').replace('!',' ').replace('?',' ').split()

# Filtrando a frase no formato de lista, passando para a lista tamanho
# apenas as palavras com 5 ou mais caracteres e imprimindo-a na tela
tamanho = list(filter(lambda x: len(x) >= 5, frase))
print(tamanho)

Digite uma frase: Estou com sono, nesse momento.
['Estou', 'nesse', 'momento']

## Aula 3 - Estrutura de dados compostas

### Aquecimento

#### Questão 1

Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:
```
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
```

In [ ]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
for lista in lista_de_listas:
  print(sum(lista))

24
10
16

#### Questão 2

Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:
```
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
```

In [ ]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
for tuplas in lista_de_tuplas:
  print(tuplas[2])

81
67
83

#### Questão 3
A partir da lista: `lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']`, crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [ ]:
lista = ['Pedro', 'Julia', 'Otávio', 'Eduardo']
lista_de_tuplas = []
for i in range(len(lista)):
 lista_de_tuplas.append((i, lista [i]))
print(lista)

['Pedro', 'Julia', 'Otávio', 'Eduardo']

#### Questão 4
Crie uma lista usando o list comprehension, que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento' a partir da seguinte lista de tuplas:
```
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
```

In [ ]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
nova_lista = [i[1] for i in aluguel if i[0] == 'Apartamento']
print(nova_lista)

[1700, 1400, 1900]

#### Questão 5

Crie um dicionário usando o dict comprehension em que as chaves estão na lista `meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']` e os valores estão na lista `despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]`

In [ ]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

# Criando o dicionário com dict comprehension
gastos_mensais = {mes: valor for mes, valor in zip(meses, despesa)}

print(gastos_mensais)

{'Jan': 860, 'Fev': 490, 'Mar': 1010, 'Abr': 780, 'Mai': 900, 'Jun': 630, 'Jul': 590, 'Ago': 770, 'Set': 620, 'Out': 560, 'Nov': 840, 'Dez': 360}

### Aplicando a projetos

#### Questão 6

Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:
```
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
```
Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.

In [ ]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
vendas_2022_maiores_6000 = [valor for ano, valor in vendas if ano == '2022' and valor > 6000]

print(vendas_2022_maiores_6000)

[8883, 7688, 9544, 8190]

#### Questão 7

Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

- Glicose igual ou inferior a 70: 'Hipoglicemia'
- Glicose entre 70 a 99: 'Normal'
- Glicose entre 100 e 125: 'Alterada'
- Glicose superior a 125: 'Diabetes'

A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

```
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
```

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
rotulos = [('Hipoglicemia', glicose) if glicose <= 70 else ('Normal', glicose) if glicose < 100 else ('Alterada', glicose) if glicose < 125 else ('Diabetes', glicose) for glicose in glicemia]
print(rotulos)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

#### Questão 8
Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:

```
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
```

O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha um id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

TypeError: object of type 'builtin_function_or_method' has no len()

#### Questão 9

Uma empresa possui filiais espalhadas nos estados da região sudeste do Brasil. Em uma das tabelas de cadastro das filiais, há uma coluna contendo a informação de qual é o estado a que pertence:
```
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
```

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada estado. A partir da coluna com a informação dos estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um estado e o valor sendo a contagem de vezes em que o estado aparece na lista.

> Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui o nome de apenas um estado com valores repetidos.

In [ ]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

contagem = {estado: estados.count(estado) for estado in set(estados)}
contagem

{'MG': 7, 'SP': 8, 'ES': 6, 'RJ': 2}

#### Questão 10

Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de funcionários e o gestor gostaria de ter um agrupamento da soma de funcionários para cada estado. As informações contidas na tabela são:

```
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
```

A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos estados únicos e os valores são as listas com o número de funcionários referentes ao estado. Crie também um dicionário em que as chaves são os nomes dos estados e os valores são a soma de funcionários(as) por estado.

> Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui apenas os valores numéricos de funcionários de cada estado.

In [ ]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
# Dicionário com listas de funcionários
funcionarios_por_estado = {}
for estado, qtd in funcionarios:
    if estado not in funcionarios_por_estado:
        funcionarios_por_estado[estado] = []
    funcionarios_por_estado[estado].append(qtd)

print(funcionarios_por_estado)

{'SP': [16, 10, 7, 11, 9, 12, 7, 10], 'ES': [8, 9, 7, 12, 8, 14], 'MG': [9, 6, 4, 8, 5, 10, 12], 'RJ': [13, 9]}

In [ ]:
# Usando dict comprehension
soma_por_estado = {estado: sum(qtds) for estado, qtds in funcionarios_por_estado.items()}

print(soma_por_estado)

{'SP': 82, 'ES': 58, 'MG': 54, 'RJ': 22}

## Aula 4 - Lidando com exceções

### Aquecimento

#### Questão 1

Faça um programa que solicite à pessoa usuária digitar dois números `float` e calcular a divisão entre esses números. O código deve conter um tratamento de erro, indicando o tipo de erro que foi gerado caso a divisão não seja possível de realizar.

Teste o programa com o segundo valor numérico do input igual a 0 e também teste utilizando caracteres textuais no input para checar os tipos de erro que ocorrem.

In [ ]:
numero = float(input('Digite um número: '))
numero2 = float(input('Digite outro número: '))
resultado = numero / numero2
print(resultado)

Digite um número: 3.3
Digite outro número: 1.2
2.75

In [ ]:
try:
  numero = float(input('Digite um número: '))
  numero2 = float(input('Digite outro número: '))
  resultado = numero / numero2
except ValueError:
  print('É necessario caracteres numericos para realizar a divisão.')
except ZeroDivisionError:
  print('Divisão indeterminada, digite outro número diferente de zero.')
else:
  print(resultado)
finally:
  print('Consulta encerrada!')

Digite um número: 3.1
Digite outro número: a
É necessario caracteres numericos para realizar a divisão.
Consulta encerrada!

#### Questão 2

Faça um programa que solicite à pessoa usuária digitar um texto que será uma chave a ser pesquisada no seguinte dicionário: `idades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}`, armazenando o resultado do valor em uma variável. O código deve conter um tratamento de erro `KeyError`, imprimindo a informação 'Nome não encontrado' caso ocorra o erro e imprimir o valor caso não ocorra nenhum.

Teste o programa com um nome presente em uma das chaves do dicionário e com um que não esteja no dicionário para verificar a mensagem de erro.

In [ ]:
idades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}

In [ ]:
try:
  nome = input('Digite um nome: ')
  resultado = idades[nome]
except KeyError:
  print('O nome digitado não foi encontrado.')
else:
  print(resultado)
finally:
  print('A consulta foi encerrada!')

Digite um nome: Marcia
O nome digitado não foi encontrado.
A consulta foi encerrada!

#### Questão 3
Crie uma função que recebe uma lista como parâmetro e converta todos os valores da lista para `float`. A função deve conter um tratamento de erro indicando o tipo de erro gerado e retornar a lista caso não tenha ocorrido nenhum erro. Por fim, deve ter a cláusula `finally` para imprimir o texto: 'Fim da execução da função'.

#### Questão 4
Crie uma função que recebe duas listas como parâmetros e agrupe os elementos um a um das listas, formando uma lista de tuplas de 3 elementos, onde o primeiro e segundo elemento da tupla são os valores na posição `i` das listas e o terceiro elemento é a soma dos valores na posição `i` das listas. A função deve conter um tratamento de erro indicando o tipo de erro gerado e retornar como resultado a lista de tuplas. Caso as listas enviadas como parâmetro tenham tamanhos diferentes, a função deve retornar um IndexError com a frase: 'A quantidade de elementos em cada lista é diferente.'

Dados para testar a função:

Valores sem erro:
```
lista1 = [4,6,7,9,10]
lista 2 = [-4,6,8,7,9]
```
Listas com tamanhos diferentes:

```
lista1 = [4,6,7,9,10,4]
lista 2 = [-4,6,8,7,9]
```
Listas com valores incoerentes:

```
lista1 = [4,6,7,9,'A']
lista 2 = [-4,'E',8,7,9]
```

In [ ]:
lista1 = [4,6,7,9,10]
lista2 = [-4,6,8,7,9]

In [ ]:
lista1 = [4,6,7,9,'A']
lista2 = [-4,'E',8,7,9]

def agrupar_listas(lista1, lista2):
    try:
        # Verifica se as listas têm o mesmo tamanho
        if len(lista1) != len(lista2):
            # Lança um erro personalizado se os tamanhos forem diferentes
            raise IndexError('A quantidade de elementos em cada lista é diferente.')

        resultado = []  # Lista que armazenará as tuplas com os valores e suas somas

        # Percorre os elementos das listas simultaneamente
        for i in range(len(lista1)):
            a = lista1[i]  # Elemento da lista1 na posição i
            b = lista2[i]  # Elemento da lista2 na posição i
            soma = a + b   # Soma os dois elementos (pode gerar erro se não forem números)
            resultado.append((a, b, soma))  # Adiciona a tupla (a, b, soma) à lista de resultado

        return resultado  # Retorna a lista final de tuplas

    # Trata o caso em que as listas têm tamanhos diferentes
    except IndexError as ie:
        print(f'Erro de índice: {ie}')

    # Trata o caso em que ocorre erro de tipo (por exemplo, tentar somar número com string)
    except TypeError as te:
        print('Erro de tipo: Só é possível somar números. '
              'Verifique se todos os elementos das listas são inteiros ou reais.')

    # Trata qualquer outro erro inesperado
    except Exception as e:
        print(f'Erro inesperado: {type(e).__name__}: {e}')

    # Este bloco é sempre executado, mesmo que ocorra um erro
    finally:
        print('A execução da função foi finalizada.')

# Chamada da função
resultado = agrupar_listas(lista1, lista2)

# Exibe o resultado, se não houver erro
if resultado:
    print(resultado)

Erro de tipo: Só é possível somar números. Verifique se todos os elementos das listas são inteiros ou reais.
A execução da função foi finalizada.

In [ ]:
def agrupa_listas(lista1, lista2):
  try:
    if len(lista1) != len(lista2):
        raise IndexError('A quantidade de elementos em cada lista é diferente.')
    lista_de_tuplas = []
    for i in range(len(lista1)):
        try:
            # Tenta converter para float para garantir que a soma seja possível
            valor1 = float(lista1[i])
            valor2 = float(lista2[i])
            lista_de_tuplas.append((valor1, valor2, valor1 + valor2))
        except ValueError:
            raise ValueError(f'As listas contêm valores que não podem ser convertidos para float nas posições {i}.')
    return lista_de_tuplas
  except (IndexError, ValueError) as e:
    print(type(e), f'Erro: {e}')
  except TypeError:
    print('Erro de tipo: Só é possível somar números. Verifique se todos os elementos das listas são inteiros ou reais.')
  finally:
    print('A execução da função foi finalizada.')

### Aplicando a projetos

#### Questão 5

Você recebeu como desafio desenvolver um código que contabiliza as pontuações de estudantes de uma instituição de ensino de acordo com suas respostas num teste.

Este código deve ser testado para um exemplo de 3 estudantes com uma lista de listas em que cada lista possui as respostas de 5 questões objetivas de cada estudante. Cada questão vale um ponto e as alternativas possíveis são A, B, C ou D.

Caso alguma alternativa em um dos testes não esteja entre as alternativas possíveis você deve lançar um **ValueError** com a mensagem `"A alternativa [alternativa] não é uma opção de alternativa válida"`. O cálculo das 3 notas só será realizado mediante as entradas com as alternativas A, B, C ou D em todos os testes.

Se não for lançada a exceção, será exibida uma lista com as notas em cada teste.

Os dados para o teste do código são:

- **Gabarito da prova**:
```
gabarito = ['D', 'A', 'B', 'C', 'A']
```
Abaixo temos 2 listas de listas que você pode usar como teste

- **Notas sem exceção:**
```
testes_sem_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'C', 'A']]
```
- **Notas com exceção:**
```
testes_com_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'E', 'A'], ['D', 'B', 'A', 'C', 'A']]
```

> Dica: Para verificar se uma entrada da lista não está entre as alternativas possíveis use a estrutura `lista[i] not in ['A','B','C','D']` (Por exemplo, `1 not in [2,3,4]`... Saída: `True`)

In [ ]:
# Função para correção das notas
def correcao_notas(gabarito, testes_sem_ex):
    notas = []
    for teste in testes_sem_ex:
        pontuacao = 0
        for i in range(len(testes_sem_ex)):
            if testes_sem_ex[i] not in ['A', 'B', 'C', 'D']:
                raise ValueError(f'A alternativa {testes_sem_ex[i]} não é uma opção de alternativa válida')
            if testes_sem_ex[i] == gabarito[i]:
                pontuacao += 1
        notas.append(pontuacao)
    return notas

In [ ]:
# Testando no exemplo que lança exceção
gabarito = ['D', 'A', 'B', 'C', 'A']
testes = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'E', 'A'], ['D', 'B', 'A', 'C', 'A']]

def correcao_notas(gabarito, testes):
  notas_finais = []
  for teste in testes:
    pontuacao = 0
    for i in range(len(teste)):
      if teste[i] not in ['A', 'B', 'C', 'D']:
        raise ValueError(f'A alternativa {teste[i]} não é uma opção de alternativa válida')
      if teste[i] == gabarito[i]:
        pontuacao += 1
    notas_finais.append(round(pontuacao, 2))
  return notas_finais

try:
  notas_com_ex = correcao_notas(gabarito, testes)
  print(notas_com_ex)
except ValueError as e:
  print(e)

A alternativa E não é uma opção de alternativa válida

In [ ]:
# Testando no exemplo que não lança exceção
gabarito = ['D', 'A', 'B', 'C', 'A']
testes = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'C', 'A']]

def correcao_notas(gabarito, testes):
  notas_finais = []
  for teste in testes:
    pontuacao = 0
    for i in range(len(teste)):
      if teste[i] not in ['A', 'B', 'C', 'D']:
        raise ValueError(f'A alternativa {teste[i]} não é uma opção de alternativa válida')
      if teste[i] == gabarito[i]:
        pontuacao += 1
    notas_finais.append(pontuacao)
  return notas_finais

try:
  notas_sem_ex = correcao_notas(gabarito, testes)
  print(notas_sem_ex)
except ValueError as e:
  print(e)

[5, 3, 3]

#### Questão 6

Você está trabalhando com processamento de linguagem natural ([NLP](https://www.alura.com.br/artigos/guia-nlp-conceitos-tecnicas)) e, dessa vez, sua líder requisitou que você criasse um trecho de código que recebe uma lista com as palavras separadas de uma frase gerada pelo ChatGPT.

Você precisa criar uma função que avalia cada palavra desse texto e verificar se o tratamento para retirar os símbolos de pontuação (',' '.', '!' e '?') foi realizado. Caso contrário, será lançada uma exceção do tipo **ValueError** apontando o 1º caso em que foi detectado o uso de uma pontuação por meio da frase `"O texto apresenta pontuações na palavra "[palavra]"."`.

Essa demanda é voltada para a análise do padrão de frases geradas pela inteligência artificial.

> Dica: Para verificar se uma ou mais das pontuações estão presentes em cada palavra, utilize a palavra chave `or` na condição if (Por exemplo, `('a' or 'b') in 'alura'` ... Saída: `True`)

Os dados para o teste do código são:

- **Lista tratada:**
```
lista_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa', 'versátil',
                  'e', 'fácil', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos', 'desde',
                  'análise', 'de', 'dados', 'até', 'inteligência', 'artificial']
```
- **Lista não tratada:**
```
lista_nao_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa,', 'versátil',
                  'e', 'fácil,', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos,', 'desde',
                  'análise', 'de', 'dados', 'até', 'inteligência', 'artificial!']
```

In [ ]:
# criando a função que recebe a lista de palavras
# Testando no exemplo que não lança exceção
lista_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa', 'versátil',
'e', 'fácil', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos', 'desde',
'análise', 'de', 'dados', 'até', 'inteligência', 'artificial']

try:
  avaliacao = avalia_texto(lista_tratada)
except Exception as e:
  print(e)
else:
  print(avaliacao)

Texto já tratado!

In [ ]:
# Testando no exemplo que não lança exceção
lista_de_palavras = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa', 'versátil', 'e', 'fácil', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos', 'desde','análise', 'de', 'dados', 'até', 'inteligência', 'artificial']
try:
  tratar_pontuacao = (lista_de_palavras)
except Exception as e:
  print(e)
else:
  print(tratar_pontuacao)

['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa', 'versátil', 'e', 'fácil', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos', 'desde', 'análise', 'de', 'dados', 'até', 'inteligência', 'artificial']

In [ ]:
# Testando no exemplo que lança exceção
lista_nao_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa,', 'versátil',
'e', 'fácil,', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos,', 'desde','análise', 'de', 'dados', 'até', 'inteligência', 'artificial!']

try:
  tratar_pontuacao(lista_nao_tratada)
except ValueError as e:
  print(e)

O texto apresenta pontuações na palavra "poderosa,".

#### Questão 7
Você foi contratado como uma pessoa cientista de dados para auxiliar um laboratório que faz experimentos sobre o comportamento de uma cultura de fungos. O laboratório precisa avaliar constantemente a razão (divisão) entre os dados de pressão e temperatura do ambiente controlado recolhidos durante a experimentação para definir a melhor condição para os testes.

Para cumprir com a demanda, você precisa criar uma função `divide_colunas` que recebe os dados das colunas de pressão e temperatura (que vem no formato de listas) e gerar uma nova coluna com o resultado da divisão. Os parâmetros da função são as duas listas e você deve tratar dentro dela ao menos 2 tipos de exceções:   
- Verificar se as listas têm o mesmo tamanho (ValueError)
- Verificar se existe alguma divisão por zero (ZeroDivisionError)

Para testar a função, vamos realizar a divisão entre duas listas de dados coletados no experimento, com os valores de pressão e temperatura do ambiente controlado.

Como teste, use os seguintes dados:

- **Dados sem exceção:**
```
pressoes = [100, 120, 140, 160, 180]
temperaturas = [20, 25, 30, 35, 40]
```
- **Dados com exceção:**
1. Exceção de ZeroDivisionError
```
pressoes = [60, 120, 140, 160, 180]
temperaturas = [0, 25, 30, 35, 40]
```
2. Exceção de ValueError
```
pressoes = [100, 120, 140, 160]
temperaturas = [20, 25, 30, 35, 40]
```

> Dica: Você pode usar `zip()` para parear os dados da lista_1 com a lista_2. Crie uma estrutura try-except que caso uma das exceções sejam lançadas, podemos ver o tipo de erro na saída.

In [ ]:
def divide_colunas(pressoes, temperaturas):
    """
    Calcula a razão entre os elementos de duas listas (pressão e temperatura).

    Args:
        pressoes (list): Uma lista de valores de pressão.
        temperaturas (list): Uma lista de valores de temperatura.

    Returns:
        list: Uma nova lista com o resultado da divisão de pressão por temperatura,
              ou None se ocorrer um erro.
    """
    try:
        # Verifica se as listas têm o mesmo tamanho
        if len(pressoes) != len(temperaturas):
            raise ValueError('As listas de pressão e temperatura devem ter o mesmo tamanho.')

        resultados = []
        # Itera sobre as listas usando zip para parear os elementos
        for pressao, temperatura in zip(pressoes, temperaturas):
            # Verifica se há divisão por zero
            if temperatura == 0:
                raise ZeroDivisionError('Não é possível dividir por zero. A temperatura não pode ser zero.')
            # Realiza a divisão e adiciona o resultado à lista
            resultados.append(pressao / temperatura)

        return resultados

    except ValueError as ve:
        print(f"Erro de Valor: {ve}")
        return None
    except ZeroDivisionError as zde:
        print(f"Erro de Divisão por Zero: {zde}")
        return None
    except Exception as e:
        # Captura qualquer outro erro inesperado
        print(f"Ocorreu um erro inesperado: {type(e).__name__} - {e}")
        return None

In [ ]:
# Dados sem exceção:
pressoes = [100, 120, 140, 160, 180]
temperaturas = [20, 25, 30, 35, 40]

# Testando a função
resultado = divide_colunas(pressoes, temperaturas)

# Exibindo o resultado arredondado
if resultado is not None:
    resultado_arredondado = [round(item, 2) for item in resultado]
    print("Resultado da divisão (sem exceção):", resultado_arredondado)

Resultado da divisão (sem exceção): [5.0, 4.8, 4.67, 4.57, 4.5]

In [ ]:
# Dados com exceção (ZeroDivisionError):
pressoes = [60, 120, 140, 160, 180]
temperaturas = [0, 25, 30, 35, 40]

# Testando a função
resultado = divide_colunas(pressoes, temperaturas)

# Exibindo o resultado (se houver, caso contrário a exceção será impressa pela função)
if resultado is not None:
    print("Resultado da divisão (com ZeroDivisionError):", resultado)

Erro de Divisão por Zero: Não é possível dividir por zero. A temperatura não pode ser zero.

In [ ]:
# Dados com exceção (ValueError):
pressoes = [100, 120, 140, 160]
temperaturas = [20, 25, 30, 35, 40]

# Testando a função
resultado = divide_colunas(pressoes, temperaturas)

# Exibindo o resultado (se houver, caso contrário a exceção será impressa pela função)
if resultado is not None:
    print("Resultado da divisão (com ValueError):", resultado)

Erro de Valor: As listas de pressão e temperatura devem ter o mesmo tamanho.